<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link
                {% if request.resolver_match.url_name == 'index' %}
                      active
                {% endif %}"
                   href="{% url 'adminapp:index' %}">
                    <span data-feather="home"></span>
                    Администрирование
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link
                {% if request.resolver_match.url_name == 'companies' %}
                      active
                {% endif %}"
                   href="{% url 'adminapp:companies' %}">
                    <span data-feather="file"></span>
                    Организации
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link
                {% if request.resolver_match.url_name == 'categories' or category.name %}
                      active
                {% endif %}"
                   href="{% url 'adminapp:categories' %}">
                    <span data-feather="file"></span>
                    Категории
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link
                {% if request.resolver_match.url_name == 'products_all' or request.resolver_match.url_name == 'product_create'%}
                      active
                {% endif %}"  href="{% url 'adminapp:products_all'  %}">
                    <span data-feather="shopping-cart"></span>
                    Товары
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link
                {% if request.resolver_match.url_name == 'users' %}
                      active
                {% endif %}"
                   href="{% url 'adminapp:users' %}">
                    <span data-feather="users"></span>
                    Пользователи
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="bar-chart-2"></span>#}
{#                    Reports#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="layers"></span>#}
{#                    Integrations#}
{#                </a>#}
{#            </li>#}
        </ul>

{#        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
{#            <span>Saved reports</span>#}
{#            <a class="d-flex align-items-center text-muted" href="#">#}
{#                <span data-feather="plus-circle"></span>#}
{#            </a>#}
{#        </h6>#}
{#        <ul class="nav flex-column mb-2">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="file-text"></span>#}
{#                    Current month#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="file-text"></span>#}
{#                    Last quarter#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="file-text"></span>#}
{#                    Social engagement#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                    <span data-feather="file-text"></span>#}
{#                    Year-end sale#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
    </div>
</nav>