{% extends 'mainapp/base.html' %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block content %}
    <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 mb-40">
                    <div class="login-register-form-wrap">
                        <h3>Регистрация</h3>
                        <form action="{% url 'authapp:register' %}" method="post" class="mb-30" enctype="multipart/form-data">
                            <div class="row">
                                {% csrf_token %}
                                {{ register_form.as_p }}
                                <div class="col-12"><input type="submit" value="Зарегистрироваться"></div>
                            </div>
                        </form>
{#                        <h4>You can also login with...</h4>#}
{#                        <div class="social-login">#}
{#                            <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            <a href="#"><i class="fa fa-google-plus"></i></a>#}
{#                            <a href="#"><i class="fa fa-pinterest"></i></a>#}
{#                            <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}