{% extends 'adminapp/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Категории</h1>
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         <div class="btn-group mr-2">
             <a href={% url 'adminapp:category_create' %}>
                <button class="btn btn-sm btn-success">Добавить новую категорию</button>
             </a>
         </div>
     </div>
    <h2>Список категорий</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя категории</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr
                    {% if object.is_active %}
                        class="table-success"
                    {% else %}
                        class="table-secondary"
                    {% endif %}
            >
                <td>{{ object.pk }}</td>
                <td>{{ object.name }}</td>
                <td>
                        <div class="btn-group mr-2">
                            <a href={% url 'adminapp:products_by_category' object.pk %}>
                            <button class="btn btn-sm btn-outline-success">Товары категории</button>
                            </a>
                            <a href={% url 'adminapp:category_update' object.pk %}>
                                <button class="btn btn-sm btn-outline-primary">Редактировать</button>
                            </a>
                            {% if object.is_active %}
                                <a href={% url 'admin:category_delete' object.pk %}>
                                    <button class="btn btn-sm btn-outline-danger">Удалить</button>
                                </a>
                            {% else %}
                                <a href={% url 'admin:category_restore' object.pk %}>
                                    <button class="btn btn-sm btn-outline-warning">Восстановить</button>
                                </a>
                            {% endif %}
                        </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {#    </div>#}
{% endblock %}