{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div>
        Восстановить категорию {{ category_to_restore.name }}?
        <form action="{% url 'admin:category_restore' category_to_restore.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Восстановить">
        </form>
        <button class="btn btn-warning">
            <a href="{% url 'adminapp:categories' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}