{% load static %}
<!-- Hero Section Start -->
<div class="hero-section section">

    <!-- Hero Slider Start -->
    <div class="hero-slider hero-slider-two fix">

        <!-- Hero Item Start -->
        <div class="hero-item-2" style="background-image: url({% static 'images/hero/hero-3-bg.jpg' %})">
            <div class="container">
                <div class="row align-items-center">

                    <!-- Hero Image -->
                    <div class="d-flex col-md-6 col-12 mt-20 mb-20 order-1 order-md-2">
                        <div class="hero-image-2">

                            <img src="{% static 'images/hero/hero-3.png' %}" alt="">

                        </div>
                    </div>

                    <!-- Hero Content -->
                    <div class="d-flex col-md-6 col-12 mt-20 mb-20 order-2 order-md-1">
                        <div class="hero-content-2">

                            <h1>Новое поступление <br> Скидка <span>50%</span></h1>
                            <a href="#">Купить сейчас</a>

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- Hero Item End -->


    </div><!-- Hero Slider End -->

</div><!-- Hero Section End -->