<div class="col mt-10 mb-10">
    <!-- Header Language Currency Start -->
    <ul class="header-lan-curr">

        <li><a href="#">eng</a>
            <ul>
                <li><a href="#">english</a></li>
                <li><a href="#">spanish</a></li>
                <li><a href="#">france</a></li>
                <li><a href="#">russian</a></li>
                <li><a href="#">chinese</a></li>
            </ul>
        </li>

        <li><a href="#">$usd</a>
            <ul>
                <li><a href="#">pound</a></li>
                <li><a href="#">dollar</a></li>
                <li><a href="#">euro</a></li>
                <li><a href="#">yen</a></li>
            </ul>
        </li>

    </ul><!-- Header Language Currency End -->
</div>